<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-3.2.xsd ">

	<!-- 静态资源，不用权限 -->
	<http pattern="/resources/**" security="none" />

	<http use-expressions="true">
		<intercept-url pattern="/**" access="authenticated" />
		<logout logout-success-url="/login?logout" logout-url="/logout" />
		<form-login authentication-failure-url="/login?error"
			login-page="/login" login-processing-url="/login" password-parameter="password"
			username-parameter="username" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="MANAGER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>


</beans:beans>